.info-block {  /* відступи від країв */
  padding: 40px;
  text-align: left;
  line-height: 1.6;
  font-size: 18px;
  color: #333;
}

.concert-info-list ul {
  list-style: none; /* прибираємо стандартні маркери */
  padding-left: 0;
}

.concert-info-list li {
  position: relative;
  padding-left: 20px; /* відступ для маркера */
  margin-bottom: 10px; /* відстань між елементами */
  font-size: 18px;
  color: #333;
}

.concert-info-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.6em; /* щоб маркер був по середині тексту */
  width: 10px;
  height: 10px;
  background-color: #d10000; /* червоний квадрат */
}


@media (max-width: 420px) {
  .info-block {
    padding: 20px 15px;
  }
}