.custom-select {
  position: relative;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.select-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 0 12px;
  height: 40px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: border-color 0.2s, box-shadow 0.2s;
}


.select-icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
  flex-shrink: 0;
}

.select-text {
  flex: 1;
  font-size: 14px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.arrow {
  transition: transform 0.2s ease;
  flex-shrink: 0;
}

.arrow.open {
  transform: rotate(180deg);
}

.select-options {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  overflow: hidden;
  animation: fadeIn 0.15s ease;
}

.option {
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.option:hover,
.option.selected {
  background: #d31f37;
  color: #fff;
  font-weight: 600;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
