.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #f1f1f1;
  color: #333;
  flex-wrap: wrap;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
}

.footer-left .privacy-link {
  text-decoration: none;
  color: black;
  transition: color 0.2s;
}

.footer-left .privacy-link:hover {
  color: #b80000;
}

.footer-center {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.footer-center img {
  width: 40px;
  height: auto;
}

.footer-right {
  font-size: 20px;
}


@media (max-width: 420px) {
  .footer-bottom {
    display: flex;
    flex-direction: column; /* блоки один під одним */
    align-items: center;    /* центруємо блоки по горизонталі */
    text-align: center;     /* текст і зображення всередині */
    gap: 15px;
    padding: 20px;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    display: flex;
    flex-direction: column; /* елементи всередині блоків вертикально */
    align-items: center;    /* центруємо елементи всередині блоку */
    gap: 5px;
  }

  .footer-left {
    font-size: 14px;
  }

  .footer-center {
    font-size: 14px;
  }

  .footer-center img,
  .footer-right img {
    width: 40px;
    height: auto;
  }
}